<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6797d/control/0/plot" value="false" />
    <add key="/lpc/nct6797d/control/1/plot" value="false" />
    <add key="/lpc/nct6797d/control/2/plot" value="false" />
    <add key="/lpc/nct6797d/control/3/plot" value="false" />
    <add key="/lpc/nct6797d/control/4/plot" value="false" />
    <add key="/lpc/nct6797d/control/5/plot" value="false" />
    <add key="/lpc/nct6797d/control/6/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/temperature/7/plot" value="false" />
    <add key="/intelcpu/0/temperature/8/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/clock/7/plot" value="false" />
    <add key="/intelcpu/0/clock/8/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/data/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/data/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/data/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="-8" />
    <add key="mainForm.Location.Y" value="-8" />
    <add key="mainForm.Width" value="1936" />
    <add key="mainForm.Height" value="1056" />
    <add key="/lpc/nct6797d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/9/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/0/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6797d/fan/1/plot" value="false" />
    <add key="/lpc/nct6797d/fan/2/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAGM5Vb/cYecdDwYGDadVUdNOMDKAwIH/AK751MUYAAAA" />
    <add key="/hdd/0/data/0/values" value="H4sIAAAAAAAEAGM5Vb/cYecdD+9nvO6roqadYGQAgQP/AeXg2ssYAAAA" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAGM5Vb/cYecdD72MHU6roqadYGQAgQP/AZIuH5oYAAAA" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAPsl17DcYecdDwYGdqf1HgtPMDKAwIH/AOjo+0UYAAAA" />
    <add key="/hdd/1/data/0/values" value="H4sIAAAAAAAEAPsl17DcYecdj0h+Nrf1HgtPMDKAwIH/AC9m51kYAAAA" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAPsl17DcYecdD/9j05zWeyw8wcgAAgf+AwDkFCc7GAAAAA==" />
    <add key="/hdd/2/temperature/0/values" value="H4sIAAAAAAAEAHPc1bDcYecdDwYGBielW2tOMDKAwIH/ANOR4eUYAAAA" />
    <add key="/hdd/2/data/0/values" value="H4sIAAAAAAAEAHPc1bDcYecdD9cOVjelW2tOMDKAwIH/APiC0nQYAAAA" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEAHPc1bDcYecdj01H5jkp3VpzgpEBBA78BwAMdP7vGAAAAA==" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAOP1v2jrsPOOBwODstPk30lMDGCg5GSdnwhlKzgxfDzKAmPHn02Fiqs4zZ0dh1DT4MsHY+/8CzNH1WnXd4Q5WzcfhpuzrqSHF8I+8L/qYQ0jhK3sJHEEob4uEGHOAft0uPiHhYWiMLbRcph6ZSdR9kS4+l/lyXD1HdMQ7BpphJkdHQlwv6TegYkrOrlyINxg/Qkmrua0WikFLv5MHSHe3J0Ad4PzJoQ4wyQEm6MrEW6X544jLDC2jl8yXG+iaxJcDdszhHukd8DCTdEpcSXCDVa3/8jB2DsCK7oYoeF5cks/PDwjNiTA1QMA+7yRbuwBAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEALs5+6Ktw847HgwO5S6n/yQxMYDAhHKX97Og7IJyF+OjR1hgbK3MNIh4Q7nLof+xcPWyMPUHyl0qDiH08tsmwdWzZCfAxe9tS4aLN71OhJtzaDdCnIMPIS5QD2UblLuczYOqWVDu4vOxi5cBYvH/Pdq1jDD10Weh6jeUu7z0gboB6Ede63QIO6HchXV3LFwNQ18iXE3Iaaj5F8pdnD4lw91c5YgIn72WSXA35EYmws38r5MId79GQgqc3VqNUHMqDxEO/aXJcDf0TUPYpc+KYOcuiofrPXkbYe8VfYRdWqcRYe7cmAo3k3UeVDyg3KV6YwI8jjZuT4CbyTkpCc7+3YkI8/88iLieujoObu8LX6jbFMpdLFwRev9yJ8P1LghH+PdBLMJtaY0pcPFZTxD+WlmDUNM6HxEmeWaIMFz6Kh6uRqgAEQ6rNVPgbL9nCXD1aWcQaUnpEMJfUw8j1Di0ItzzND0BHlbzNSu6IInpwP871/sZYWo2WSLSMwBJ2h8MPAMAAA==" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAHtUctHWYecdDyaGApcjf5KYGICAUeGv86dZUHbDKWftI0dYYGyzrDSIuEO1y6H/sVD1F5xlkdT/fPqKG8Ze/jgZIg40n8ckEa7m7luEmT4fu3gZwODA/1MstYwQcS+X0rMI9SI+SXBzrlilw8X9RJXZYWyJ01C7Es44z86Aqg8QdNlsgXDbvOdqcPVt1RDzQX6/mJcAZjM8MHVpKEmGq6+fDmUfuOrsdA9qTkKjS+nJeIj6Fw0u229BxR9cdn5lAHUzwyVnq1MINys2pcLNNJqHEE/vSoDrnXIXyi7wdvkzEaFGphsRDsvyhIxg7NWBFV2M0HCT2dgPYU7gddl0BKKegWGaMwAsMc2n4AEAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAHtUctHWYecdD8aMdNcjf5KYGECg47bLp1kQNmPDKWftI0dYYGyzrDSI+J5c10P/YyHsB+Iuskjqfz59xQ1jL3+cDBEHms9jkghXc/ctwkyfj128YHsZDvw/xVLLCBaPEHYtPYtQL+KTBDfnilU6XDztQRsnjD07Iwnuns0WCPfMe67GDmO3VSfCzbmYl8AEs6uhBOpOhb/O9dOT4Xqd7iXB/Vt6Mh4q7uWy/RbC/FcGCHdanUKoV2xKhYsbzYOKC5S4pnclwMWn3IWwGS6EuP6ZiFAj040wc1mekBGMvTqwoosRGlYyG/sZYe7ZdAShHgBoitMf1AEAAA==" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAHtUctHWYecdDwYgqPdWU2OAAp+PXbwQ1oH/p1hqGWHii10LimDs1YEVXYxQNTIb++FqNh1JZIKxAfXR0ZxgAAAA" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAEWSTSjDcRjHx8lhXsqSw04KIZSbg9o3rweXRTks/P/7zzh4K4SDGEtraUzbksRakrwstFYya95OOJCDA4qbtAPtQKm/sv/z/H6nT0/f7/f3/J7n9zZ6V2c6fmrR6YK4/LVm6v6PHskz4lU0uogD+DAIrvTaNZ7HudqpcR9KRoR36J14Bbl1wlvQIGnsw82zwhrfpczegzequ5GVQ/Vl5E0Lze0gadbQ+unOTnNCjVVMZaTZiLkt0ntwxr1NoDS/l/v5OaH+F/AVIf062q8VrutuFL431ks5IZzWWlkTryFvEOE2mXurqrXxXdMhmfmxmeZggGON8pfgCRBH0fRC+SbIoW6NZxDPJI0LD9WUeY/ya9LPot7Ro/EBqsep7oTlUOL+g1Hifvx6STOM3COZZ6Xqaddb8O92cWaqmHrYRmEjefdgzFY439dBOWG8Oq2cY3fQTHYQiNG7ItjftPL8Q+Niv+YuG8/2Yoz0mziKiV0kzTbOH4hL7G1OKawvOhc78l9IXL+yCK/kFd6Nsgl3+jMlVOPhovavvk2TvPdH0x8KZOSXSAMAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAHtUctHWYecdDwaGAscjf5KYGMDghMPbgzD2JEfXDhh7guNrEQRbd2IalO3geOh/LJQd4qhWDFMzxTH/JUI9vy3CTDGXBLj4mbvJcPEpRxLhejc8gokHOHLwwcS7HAXqE+Hqz+Yh9Pp87OKFsA/836NdywhlOzQvg6lvcjwId5uFo7pwOtwNP3fD3N/j+GkLwg0hp5Ph4gxnkuHie9Jh5tQ47rVMgqvZZ4TQuy4Y4U49yxS4eP0imHiM4w13WDhscGickwx3Z980GHuBo9s9mPkfHBIXxcPDeR8TQv0VfZiZyxy1TsPUCzg6N6bC3aBfDhOXcYzemAAPzwXbYGwWxz8TYWoUHPk3wcxMcPzPA4vraY5TV8dB2XMcv6gmw8UlXGF6ZzjK8CLEp4QnwtU/bEGoSWtMgbOn7YH5a57j2iWIdLKoHBG/gXEpcDMPl8bD9c7nO84CY+fuS4Crd/+SDFejdAgRL1MPJ8DNORqNMDNhIkLvfM2KLkgCOvBfZmM/NC2dcKiEx7WEIwAaBCH5PAMAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAHtUctHWYecdDwaGDQ5H/iQxMYBBh8PbgzD2AQfXDhh7h8NrEYS47sQ0uPpD/2Oh7A0OasUINVOyVNlh7DN3k+HmTDmSCFez4RFMfIIDB18iXI1APULN2bxkONvnYxcvlP1/j3YtI4Qd4NC8DKH3INwNBQ7qwukI9xfsZ4GxQ04jzGQ4g2DvSU+C+2WvJcIv+4wQ5q8LRrhNzzIFLl6/CCY+w+GGewKU7eDQOAfh975pCLvc7sHMT3BIXBQPd/M+JpiaFQ5X9BF2aZ1GxJFzYyrcTP1yhH+jNybAxRdsS4Cr/zMxCR7O/JsS4eb/50mDmz91dRyc/UUV5oYTDhKuiDQgw4tw/wEzPz4YOzAOEQ6HS+Ph7E17EGEYJXCUBcZ2/4IIE6VDiLCdejgBrl717RG4+vmaFV2QyD7wX2ZjPzTeGRgq4XHEwAAAZ1Hd0NACAAA=" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAHtUctHWYecdDwYgOPIniYkBDBrs3h6Es+0N5h5hgbF1J6ZBxR3sD/2PhbIZ7NWKEeq/8LzmhrE3PEqGq+HgS4SrufsWYabPxy5eCPvA/z3atYxQ9QzNyxDqD8LNZ7BXF06Hi9tztHPC2HvSk+Bu22uJcM+s/WrsMHb9okS4OTfcE2BshsY5yXC9fdOS4Xrd7iHsTVwUD2fvY0KouaKPcKfWaUQYOjemwsX1yxHi0RsT4OILtsHZdn8mwu1i4N+EMHN/vpARjD1fs6KLERpWMhv7GWF6K5H8CwCiTaYK1AEAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEALs5+6Ktw847Hh/SLJ1O/0liYgCCQwctnd7PgrD3HLJ0cu2AsIMOWzq9s0GwtTLTwGybGmunQ/9jwewtWVZOslC9XtlWTt1Zquww9r1tyWDxGiC76XUimP3H1crp0G6IeN0RS6d/phDxFqD5UuEQthrQDYenQtScOGDpFHaqi5cBDA7836NdywhiOUyxdIo+C1H/osLS6aUPxA0GUlZOvNbpYPb3p5ZOrLsh7nx71dKJoQ+i3ui6pVPIaYj5nCcsnZw+Qdj3/lo6VTlCzLE4Ze201xLCvnPB2ik3EqI3gcXG6b8OhK3iZOOkkZACZrcp2ji1VkPEo+0cnE7lJUD01jg69ZdCzOcItXbqmwZhl8RYO+mzQtjbNGydchfFQ8KBwcbp5G2IvWqZ1k7/wiBm5olZOzEsgYifmWDt5NyYCmZP87N2Yp0HEc/ytXaq3gixV87A2mnjdgg7CCjOOQmi5oC7tdPvToiZ3+ysnT4bp8HZLqvjwOx99tZOiwWEhWHs1vkQd3K5WDvlmUH8+y7A2unTyiJRGHu+ZkUXIzSO7lzvBzNzP9g7bYKGYfE1eycAsloSkXwCAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEALs5+6Ktw847HjvCO11P/0liYgCCGbKdru9nQdg/ZDpdXTug4kD2OxsEWyszDczOYOpwPfQ/Fsyu2NjhKgvVKwFkd2epssPY97YlQ8zc0OHa9DoRwj4B1LsbIn5DutP1nylEvAJovlQ4hB0BdM/hqRA1FnKdrmGnungZwODA/z3atYwg1g6rTtfosxD1Fj6dri99IG5geNrhymudDmbnsHW6su6GuHODQKcrQx9E/QP+TteQ0xDzp0h2ujp9grAVvne4VjlCzGm40O661xLCdjjT7pobCdHrsbrd9b8OhH2gud1VIyEFzF4wo921tRoifuFbi+upvASIf7VaXPtLIeY3SHe49k2DsA+Idbjqs0LYBh/aXHMXxUPE17a7nrwNsXcBX4frvzCImROcO1wZlkDd87Xd1bkxFaJGvsOVdR5EPEGhw7V6I8ReBeMO143bIewCoDjnJGj4qHS4/u6EmLlAs8P1s3EanO2yOg6iF8heLCAsDGO3zoe4M0GtwzXPDOJfBbkO108ri0Rh7PmaFV2M0Di6c70fzNyg0eq6CRqGAZatrgCk+5NmfAIAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAEWRSyiEYRSGf2qShcI0GyU2yq0oUUKNy1sWFrMQSRjXifr+708NIjWUYoRJUQgTs3EtlEvIn3G/hQ0iyU6KGhtFxvSfbzirp7f3vOec77sbu8oybjzkO0wMp99VgZKvLvcY3keJQw8Y0C10H79l/nN8fZ3GyV8cu94y8o/LiBS9lz7ubYgJ8vPjajV5JmR0vlYSyzJ2N0k3HTH8pAr9kCGimNi0z+AeIo/DzVB0Yg+RtFK9WwntAZpuZyg9J7/DwvBSQDtIaTJCMiwax34w6DZpT+cjg9RPfuMTQ+Ep5d+eMeR4iNUwGa3ZIqdCwXY6sc2igJVQrzKjwJtIbPtUEGuuod4LBV1tpJvDm3Aim+mu2WYMWClfOuboHya2XXMk6YidUY1gUxWkuxQc39Nc9Znjp4gyn1o4JJfYx6Agt6OWPCqHboJ04w5H2xLNVUc4ltaIo3168KC4a53jq4cy1XmOj5S6P86bKyde4JgO1ev93DVJexpXOOQ0ca+bwzPTaPDzZFyLPUD80cPNgIbORSuWxRua+6z4BesgeoJ8AgAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEALs5+6Ktw847HgwMDG513mpqDBDgFnaqixfCPPB/j3YtI0x8r1tBEYw9X7OiixGq5s71friaTZZJTDA2AI2TWXtgAAAA" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEALs5+6Ktw847HgwMHxw7VNTUGMDgg6PPxy5eCPvA/z3atYww8b1uBUUw9nzNii5GqJo71/vhajZZJjHB2ADISTovYAAAAA==" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAC2SXUiTYRiGdSUFJoJoy78kBpXSQS2CMAzvlyTDn3YQCoJuM2sZlQcOohIzowKdm+ugnykdhKOUoIMScxKEQinlct+PM5XlIjTFlVASjNTqu/ceXTxcz/087/t9n7oCBYWDs8XGvVmiz3BaF/fvRNfXsKmrVuMGaQKGILlz2I8/y1aNp/1+HD5/VuP3OCA+b1Rr3Hw9hK0e+qYkCfZFsnFUQup28lq9jN9ui8bJF1V8d3FuklBxMMJ8YZERCbO+fipH5C7Qn3MpuOulU+lUUXKcTv+oglC8IylOO282cjOb4v+T1ZssLOP0fSdUfCvlDhZvhthyxKbxsRIZiUPcX9ei4tdL+o59Msp+Mj/tkozw0TqNc7sDWIjt4LjwBf13mBltluAxsG7bLSGSRn7+TkGqmb3ZVTJuX2N9aCxTuBt4r5PDKaLdzlmbK0J4dY+8s2oSphDzA605wjpm1nhpPkFMzNTG3k3BTAUz82anscfLulO/SxS1nNE4J2EKM92sTxkMomeac3v2z2HQRcZqtpjspNNm1Ysd7cw0R4PwG2Pf2irh8q0ajTsqFRSWc8/QVwmHithbHA7C3su6Y1lBvo/5EXcQz6rprNgUtD7lm+RlqfC85r2UcRW9TXRCdQoaa+kkBhXcbGTmox8y+pbo59tV6O7T9zxU8NhEv3RAQv0859ZEZRR8YO+VRQnldt7rSddHOEfo6NMVpMvsLRuQoc9g/UV2ACsPrrbFx/6rG+c6NBxZ3SZ8KZxbN/QWfwEmnuPXSAMAAA==" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAFt/76qtw847HgyPGJ2mKiUzMYDAkq2ORV2JEDbLMsfpF1MgbJlFjk6sUPE1XY5dz9Mg7F23nSJWxELYGzY78hYnQdg/ljvOPQRlCyxxZLaFsnd0OKa5JUDYMQcdz5xCqPG7CmUv4HG6IQ91T8sTx1e7ofbuY3c6mwllA91scSMFruZCfRsvmM1w4P/MlAZGMLNDwMljWyLcbUvdoeY37Ha80ZoOYRdMcZS0hLp/QY+j/x2o+oRXjnLHk+HuOVgOtatDwHE+G1SNxXHH7VJQcZ9Zjhe/xkPYZyKcWkKgahiqHCt7oObMMHdUPQ0V11jgyCcKZXOcd5zZBFXzIcixsRzKDm5xmmGcBBffVgENtyBJp3lPkuDmB7MkwsM2+yNU3GSe495MaBwx/HIU9EaE83V/qDkBhx1zl0LZNh8c2bOgal7UOip2J8LDZOM3qDkeeY5zDsbC7dLTgLrzQoujUDZUb8o0x6P7oewCEUeOsER4XMv2QMWPsDmdmAcNtxcMTgrH4+F6hVYkwdPYoXyo+SviHH8sSYXHXYhrHIR9Za0j10Wo+oz9jjXNUDU1kxznhMfD3b/tPtSuJ1ccX5RA/ZuQ5RjrBXXbjO2Oalap8HTyfhZU740wR4uAsi5IYjrwf+28iYwwN5hpJsPSiQMARFaL+kgDAAA=" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAHveccvWYecdD4YHqx1UDJOZGEAgIcthalcinN24KgXCZqhyUHeEijdYO2xYmQYXr7wQC2ffKkqCsAMOO8yYDWUDzf+cjGBnuiXA1W86nQS3K/oKlF0wxeHZT4Q5be8S4eJnsxLheg+dhLrtQovDuxONvBDxA/+jf7cwgpkfLjl030yE2/upOgmu1z0oHW6+qFksnC15JxFuZvlCaJgw/HK4NANq1w4Ox+myUDUCSxyOsqTA3TbjXzwTzN6HtQg1xklQcyY8cnA5BwvD3Q6XtBPh6o2Kk+FuqM9Nhuut04e62WGOw+v8BJi4o9RNqPiCHocmXqg5Bp8cWK4lwd0fMykN7v4GRYT4luQEuPrO7QlwtznnQNVs2OygXQc1U+G0g+dnqDkJrxx2w+Ia6F9P/2S4maIuCPNZDiLcdiskEc7+ngIVP3DLwWd5CjxeIl7Fw90jsjQJ7vdbOclwu0KmpcLTiW5kHJxddBoRp4JxqXC7KiLj4e459zsFrn7BYkTaUzZApKvpEVC9B6Icykri4eZwTy3sgiSmA//9bKcxwtz51zcZnhcAqgpr7EgDAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAC2SX0hTYRjG5yQ3TWpYQYTVTTUQI1SCBSn6EHzvd6C6KOjPaC7tD4mFFEgRKiqluymtXYTgksgoR4IFojaZDCUwbQo2QkoqJCImFEHLCOxwnvNd/Xj4nfc873fOxOO6isrRD9I1q3AwVeN0mEdNKyQKyem4wpZKcvGYgi4jN79VuOwmz/QJ/g3WWry2SfDSfc7iooRCYyxgcc64QtnKWYtbBhVajtIv7ldIf+WczU8VdlTTiTUrjN2js+uGwrsiOuXXFFwROn0BhTedhzc6rDOx9uDPdivPrBN0BoMW+12Cnlz2Sd4VeBeZt2UJMvc5c2BFsM3edzkpCA7xvQvDgvxn9D8OCJLn6RzqFmzo4czlW4ICD/OTYcH4bXJ2k0A/JFddFKgEOw+vapSOkI29Bu7cpPMz28DWZTtv1Gh/zrzBa6D2ADlar3E9SdanNFq66Y+2a1xtZX6lxMCxXvZ3VhnodTJPmXN2n6bvyTFQl2b+pdBAV4z5ox8aQ/b3bTX9nFXmAbNbxX7u68k34Lb9QFzjr90nt9989hJ5/oxGOEOub9LoWKq2ePGIRvkM81BQw+Uj15zQCL2w+5SY3Mr+73dqIMr7nyrViMbpFCwI2ibp/H4lyB6hE/ks+OZj7v0umLPn+OYEeXl0pl8Lwuu5i2NeMLjEXY5HBBf2cL7bL5j6lQpl2f9VR8M+K//k15it58wnFRr/AcjfOew8AwAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAC2SX0hTYRjG10pdamWSJWb2j1QUVCaiRv55orJRUSQR7EKXVpAohEGFxb73K9oUMvpHDGFLqZsYiTMKDTMZBUHWRpFEySqQ8MJu6kKLyA7nOd/Vj4ffec/znu9M3G+rrR+d3pu8S2HHVIvdZpz3dQrRXHLAqZBVT64rVnCVkyt3K3Q4yD8LBX8HW022hxQeOY6bfK5C4exYk8kzJQrlP46ZfCRXQR2k356hMPedc7auUchrpnPoixdPb9Ip/ujFhyI6A3EvUkJ09j3x4nX3gVU280wsBhY2mHnWVYVuj8fk6V6FvuXsk50nKPjEvMWnMH+LM9PdghxrX0eDwBPhe5MqBekP6HtKBbETdJI3Clb2cWZ0nSAzg/m/TYJnPvLaTIHrLrlsmaAhys57kjScI+TqfI1rF+jE0zSyZ5g3RgSXHzK/uEWjtZpcEhacj5EnQwJ1g/7sqKBTM08UajQG2f+dUyNoZz5uzNnmpl+0QqNtzsrXa1wfY961KIhY9+s3/OTfzDuNbrUV3Ne2WsNh+favgj9Wn7KY8ewp8tCA4PY8+dtjgT/RbPLmgKBmknnHPUFKFflOUNAzTO6/YrBm/5wuwc4wv7/TJwg/pzPsElx6QWf/dsHSETruw4LZKuZvjwri1pwa405TU+l8htEtjbuMG/lggrs0FQhO5nN+dEHh5a+pniXWf+U/XWrmZ/oFb9o581Wv4D/DWJvOPAMAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAC2SX0hTYRjGl4FuFjXEwGJ1l5EESVIZlPh0UfNCDOZNEbnSikaBCkbp+b5vGjXXP6wWxWB1UQQ5FDTCJQttamRqFtIqyREhQ2KLymAW9udwnnOufjz8znue9/vO4H1PWfmTj87ksMLO+JEsi/6sHlWIOcjVcYVV5eSuGYWKEvLjIYVTVrK1T2Kxu9bgLx6FR9Y6g5umFE5HD9GZVihJHzb4VkpBVdH3Liikkpwz+lNhXQ2dV/le9F+n4y7w4m0RnUKHFzl36Ozb6MVYe+VKi/EM/ru9sNbI32kK7W63wfYWhaCNfaLjEhummV9sU8jc4Mypaok15r4zzRLuHn73c1Bi+UP6mzolJo/S+fRSYkWQM49/kMizM//2XOLpBfLArETFXfJli8LeGDu7/2rYEiE3RzVcbaFT+V1DwSzzPQ8EznUxnx/SULuD3NErcGaS7BoTUNfoO24KNLYyL+7T4Aqxv/OehlAW8wZ9zvoD5vl/1eBJMa9/o6EjyjxjE+gx7zeh+9m/mNt+aCjbyn3TSQ1W059zCvw2+1zx6O+eIF8aEQhkyEUhAV+ixuDO9wK7xpnnxQRySsnPJgT8veTwH51b2T+SL7E7zPP3LwqEB+j4miTahum4AhJLI3S210nMlTKv2i/x2pzTqN9pbi6dbeclAsu4S8NZie4EdynulzhWaHa2K4zMx/1LzP/KV7/ZyLNfCEyc5MyDaYH/JA4mDDwDAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAC3SbUiTURQH8G3tg6VOUVhQkwpr2QjJlwQl61yCmBCuRuWKahVTqklmg2qSLwQtcNkgyyKGBZFFA5WQcr24OQpzBktWa7E9RrONOWmyRtRI7WX/5376cTj3z3mee4o4RzXZg8oNonrWGjgqEvw7r65GaZ/2WNoHf06RtRceGZihQzvh72UJSp7Rpb1pXM1K9EfSPmWTsC/56Hkm+kR5zXB26QdauAIHaxI0sAPuuh6jyC54j0vA+kywWzpHvvPwBaWQNS+Hb38M0xZ+hmW5sxQ4AOepPdRkackWpI/zjzzcJfyvuXsVLHMC33VZFabpBvRnPP5NmtPwYPkadj8ED21/QbVZcN/mRcqRwNfUXpKWwX7ZIq27C4tHZMyxAo5Oc2Q7C+e4pSy/HfbMilnjYdikD5GhENZ0V7El/fBFSxaTxTCnoTJOxT4+X5Gixh64wS5n+wWwpXUpK1gNO5sitMoIK2sUbIHP1JcXsQ4PMqcmhewJP0ObWc5Cl+BRbS7r1cG18QxmlsKR9yHSDMPxlRyNm+HjXiHr4JBp6ilmN+r5/7bbTUm+X6Tzk2EtrE5O0K+t/N3nAfrG79VNe5BiLnj9xrfkcyJzW9RPFXtRT4k9lNnCv8UdF72phDtnxkj1CJ6f50jxgN9JuY/GXiLn4Y8oSU6iXjXEUaEDLinwUvVX9GjbvGSsQ11lfUfnPHBpd4Se8jufYpP0uf1Ep5DfK+uoNc3hugQZbei5Nfia/gLEMg6LSAMAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEADXSbUiTURQH8EcHgvgSbGYYiwammR+KLKRA43+WhEFkRdZM8q1VVEI5o5wgLVaBabUPOcGGWKCNjOYHKytiW1A+scwvNlCzpr0shAWxsBcQWztn99OPy/8ezrn3Fsx4S/HkfXm37xa1TdcnK7H141sIB2ob4i56E4Grl73O7cfhXeydf8YQtZjjLi4ro42n6uKu7X6HWR1nVJ8f2ib2ltvPsNjJdpCGPDskY4vg6x52QbmWBq6wnxr1FGxJZFKpaUXibBgl0oOqqJg+xM4/7sHpG60ZSnz5lvK/XEv6ryP2dkoL8FzO6BQ+HZOzfelkOiNzxebtn2MrPjd2p0vNhSUsy0xkRpG9if2rZwJ5fewPN9PJu5JdvVnF4DmpAw3pLrALVS011rAvuSJozpVM3V7SPGC3fcwj/Tz3aSxJofVB3q80htHoZL8KL6cqhR2wptAqA9ucM4vVVnbDWj0tSk3FUES2ca4ZsGjokfQw1a6luctSZ18O9ZpllrOp1JHNzspSyDTC/tv5EK872C37Q7DNcM37VRuo6yjvf18YRlTyFTV+NK+R+hYXfm9jm5JVRORfVf+cwvwL9svrbgR9XNM86UdxpfQfe9+0VrY3wwF1q+TfdqHintzbSAiFd9kG+wRGn9dLP2PIPCn3M+lGrjfxLmGUfuaM4+IdWA/KP4/NeH488Y4ePJY/74z6ERg4cTVJ/tVQjyvOYd12sg5Kpt+Of3mBC9JIAwAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAEXSXUiTYRQH8FeFgVgbNFwoqwRzbFGBBUGkck5EBYUFYs3APmwOy2HZQjejsou80Jnzol2UiERptMgYUUnkPiC2GGxdxMjNVVvmQJiUu0nLSvd/hu/Vj8N5znue8xxt3F1NE9OHfwwO8vXYuXxp9fN46cSZpqwNU14aGoZvWaLUeBQ2Tik4c8WQ9acbDq5sPZu1rVDDCSVy3slTtKEdtox8pGUbvL9NxuMHYYlSNHsc7rgq49EeEZcSFLHAveGv1L5R5DyVuEr0YBiLUuwUPKEL0aWBrvU46/mn+d6ft6rJyTQVBXGvyu1K/mZE/k9tiPSX4Sa/kx8lxb/is1S7Dl60FbBCDs8fiJJqt7jXnQxVjMAlRjW7S2FlrJidHfBCyz5W3oSDu5bIdHptnuZyuHXmPBc8gzvvK1g9hz7tWjXvjCDuMheyySF6a2RukNbmtqlM5JhkvMUKf95xhJdzNX3F3B1GzYfpRXopelBeq+HkbbhNoeJhg+itJEF9Krj+g5/0r2FHhY/e98E9ahV3x1Hzz2YN321GXJ8/ThmR76qTsXmrONucoF818PTvBUqLvbJ7H9OcD05+eUERD2oaGlK0px5xXcvK23XBRYdCFNib240AHXuSy3lA28bgUnuI/G9RR6dNkfwi4v3SPJW74cDKXlXPICdQJrH1pHgjV5o6w2LOtQl6JXZ+6e8bCo5e6M0Te/X83lCWVXURsjpzbzpA/wE7KdGTSAMAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEADXSbUiTURQH8MfGKlMnbLGypQuXYn3YmIEkzbh/EFsh2qvTos1iBTYlnb1ttBpEI7RRFAXZkEhSSzL7or0QG5KkyLBAhrTWy1pZoxfqIVzhsNq53k8/Duf5c+59TlHEX8YevjKWXHPDFd63QPh3tudNshrL/pSNdh18neSfvdnYW0l2v9BCtFtTlh05B72tPuWEy4B3CuqZ+qyCvIV88rkcyfM805aPexXk18EifNxKDlr06PaQh2ZUCJ0g16wpR8sysrXuDDPwGQyTCxHeTYYlC4cvOLOE1AnMFX7wpv2X9qUKGeN0r2D5Trw/SP3RN3OstpmsuA7cipK/Df5mVZlkZ54N2TLy0sc7oFxHrrSuR8ENclNyC/wryF+Wj7G+Y2SBTTPFabLHl45GM7miPgetmvmeKkj6ybGpdKyM05xmjwBtiOrNn6RovMrf83Ix6oT5byXIXcXtvsnUDm7BiCTPLB3eAPcEZeZ41BjkMyjCmxA9y99/phidVrLUmol2Jdl+aZrVPiAvcpkw1k4e6ZfDHaHMPXfVuHKA6gNPRSbyfiEgstbVfOYOORIbyV1eHb7yvdL8Ell8mByfXYxQgDJjCRNKdlF9s6OXZTjJbblNbLSUv9UPParvkEfv/2Fre8jbqnV49oRyZI/eMtkhqs+eUkLj5/9xREBZjHoCXgkcJqqbCy+y4xPkSMESDPGd7/JJMd7d0JbG92qgw5fi0fzvzNHH9/N2A/4CEp3Ke0gDAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAC3Sf0jTURQF8OlSG5pGY0aRbLRV5qRlhizIsSPhRpim4LZW0zKXuMaaDWYTLIMsyCyDCgqTiFJJKZO0JGJSWbMRgsRYbSM1KxhEhUERSD92vu+vD5fL4b73bm7MX6wfixrPb85Ha+RAsujf6de6YaqtS7hVno/uHnpfjRG2MtoVUmPhaH3CnuqTKDi8P+FLqhzMStkz4TJjRRMdjEqweI7WKQ24V0p//lGOT7tpzUUFek/T8zvlCB2jM6qMaFpJu/tPYbswgznZjIiVXpKmwZELLctEiTP+Z/3HzqT/mnGWID3Ie0VS0vDhEPvrHzhgcdOqWg1uz9Gj1oi+PIMOtEmQlUlL90qQXUiHZe1Yd0N4n/c6+FfTJSNZGPDS1q1mSE/QdeEGOGvo0pk8eJT09FcbxHfpAoMda+Kcs+L6G/2mEOudmlQ4r9C3fp/BHhHdFbAhR0FvMLkh99Gvrh7EopAZtTvQNsXMgsFKjAoz3JdaMddOF/00oKeebhRXoiObHlJbYHlEe8s2YrKD7nPJ0BZj5tvCLly2s/4iLMaC0P/6uQweFZ0yosYvHe07noovwl5Nf9+C+FM6ybEDoXFmumZWoaia9bHmd/r0FrqqvwGBbcI7u7SouEMPPmtAXh99U/JY//IJc74pvMh0sJ4/rIHST4viuSieZ8+wVw2fmfWlMROap4Q/UqzFQ2HnJ5vkCPY2nk0S9mroWneC2onl8A2wx79rVv8XJ7IPlUgDAAA=" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAEXSa0gTUBQH8GkPgzkHG60HC0Wz5oIeBmGocQ5F9MEeBLWVmo9mYQ3SzFIjMqkgLaZQA2sNifIxc/ODlsNimwxaWfjBscglOZ8lFOGMJBBb+1/ofvpxOfdw7r1/zagrm5yfD6z8ksfXgkWxksiqfzxGxwuKo05/7yeLFa76+ofyc+CnWWMUvmiIetqo4R3nC6MuM8dxSImauWYHKcphtXGOFu/CuT395NgPN3pGaPoIbKn0U+tt+Me+EQpUwbamGSpfA0udfsoSM9xYWKLgSTipyUMXTDUySXS5lzZN3Yv5p4/NWpYO4l5dXhNNnEF919550pfBl5an87Nx+FWpnw7Fw93eMMkTYMPmXlLthF2yIKW2wHH2dexaL85myrnzMpyZu42V1+GbNg8ZT4k3XOGgihTYmpzMy+ywLqxm9SzmbAyt4q0B7Gvb5Ww0wxN9q/mEBJa0xPOGJFg/4KHEathzUMWLoudUpL52CD3NJT56IWZQPpLz+C14MkPJVgM8rNJwg0rc/dcM6fvEvdIs9LYBdv5cy7Wj6Gk6KuMHJeKvNQoOi/riDBlXbIQrh+20sEf06QjTd5ErRX4HzQ7AOc/rKOBGT9/2q7TrGPbr3m1haQ1ceKeffLvFDL976LBNvIOkiLRtIjNnQ/TmNfrEnm6nhHP/M5ziErlNdFD2JGrcHz5RtU7kRxeiK0Pwk/tyfiky/22+lwZbS+tjRK66H1qi9BZEznaixpwapL/GK7+NSAMAAA==" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEADXSbUhTYRQH8LtVkMw2cGUgvQj2YhlCCkaQ8X8INElMiGqGzhyrKLdqSdMNylEUlLNJ0JK8jRipS7HFaOaI2GZUN0b6Ibof3FZptsJaEH4JQVbtPD6ffhwOh/899xQnw5UIJfZbHpWwS/EWpfDvvVIHcaTZkPWOA2chesjucjeaaskrq4OYv2DMunF5CdvZejzrWy8L2bSWeoynvMizkC9qg1h0kkd9IvxV5N8+F1L15PofIQxcJ+tTXsgdvN40Actastr0HHt4ht67TxE/Ru6o+IBzLvsqIfsimS1fuxX/ZS1tgSpG36XX9eDLyaX8E9CdJ/9KKln/DFmKuFCXyy1I0KgNfCdXkV9OFhxebH7Ad/Izl4ULyN/3iRi2kj0GgWk7eT++waQnd2tEtBWRfXV5bNljclntAtbNUc6hzxmUylTXyWmY3ORQjsAaBHJVdRTrC8k9Cj822sixQBqLfKb5/i7mmKSZC5enMcoztI+vYTPX+Dda4vAYyQFnDuvKJ28rFqEbIyc2uPG2i+95RQaOJM0UIhp25wTP7xQxz/tnP/WhbRPfT38Qf/byW2qII83vauR2FHPjZNkehRyhmcq+GlQcpnrBFT9UdvJD8w1Iu3mGQ2YcHCKrWiVsH+T/0TqFNy9oTmNqEOozfD8BCUVh8nubiMpZ6knUvIPtKNVfd/rRPkn+OJLBM8/SPUwhNnD6poLf1ZN7YpZbV/fCNsx7yuz4C50ffoFIAwAA" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEAEXSX0hTcRQH8KtBRLNFCbOiaGRGhUwqKl3OvhcihEYFa6ZBuWtO0FZmRnpHf2a3gmk1X7ai5qhBMydModINF1u+tBL0Jfag+ZBphLUKhlKBLLvnd/E+fTic37nnd35n+2TMgMjH8unwZf7ahJDNLX7RHRIqqmtkcw4nvD5y/yEvThvJjrAb6Uu1sjMZFb/rnEX2r6E5fMqlHKNNh7VN5PofISzcJZuz+9B3mJyAhC/HycUvniNwh/w10IlkK/lqyyia8sgrIudRynowjZZj4hSLl9jR6LKvknvm4pltM/ey/ktbNw/VCN2rStOIz3WUPzMsofIi2fbThGdTZL1fxNEc8u6cTqxWK3cRodlDbh08gIIn5JXBP4htIH9/NYTeK2xuluV87g1mToDtDPlWgx/N+cpst/DLQuRvez3YOEt9RsYl6JIUX9cWhc1DrihIoYpjZ+Pj2KQlt3dZsFlUaqawEFL8AY4xgdmPAdZDXnUaU7eVOm/gqyUHtU50aMiFRy6gMszmY3DjXQd7L84DxyTV1OnX826r8q8TSIeXdqZ5K/lmjxe/y5Q3EpBie/W3rAezw2yX7puQjFPNgXkX9pkp/lAvQGUntxU7kSghX99fhGNBMs4+xs5utjNzLrx9TXUeWF9C3UBxrbUG+THlrZ/CME056q4iiCcpvqZQQssY639xJwd9Sx4J1Ldnsb3qf+SV+b40cVDspZyo0Yx/kM8Li0gDAAA=" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEAEXSX0hTcRQH8Ks+leWgxSJZFJpDIoyUhKjF99eDGImFUM7E1LGKbFS6SCdIk2ow/zShGhRTYpCbDUyiqTFiMwgXo/ZQDDZbMM0I4b60iArE7J5z6z59uJz7/Z3fuac8EzHixcfaH/Mlom+hPV9afywXPuB0q1mx5AjDO0b+JL9HS52Za8LIdVkUVxRUiv2X2hS3NiaQ1VLNQIsbWzrJNU4XVofI8S4vntawn/nw5SQ5FFrDuJPzU2kke9hNN9G5jewpm8Bh7sFTlcXCGT5rtA1X3L2blZ6l6JpheTjvrzLWGVEYp3vFv6WxdJ7r3WmYrpJ77r3F48X/vdVvIv8eCkFTRH5d74KuSj03hrJH5DsBjYgU86zgRfA6+VaHDO0NzmzYLqxn+dtlGbZS8tEDelEwqd4xBP0Kzz81h4qkeq4Mq4ds9mtEk0TuM+jEjl3kyrosdtrJW68dEquc2Z2vF44EZQ73y5jmHrTNJWLxNvlrSMaYhXwsmMOgjjzSH4ZpljylDeDNIM/K+QuODM8zVS7un+O7SzHkZlV7YNutuhY/j5D3Hr8MmfeqQfMdK6/IhuowktH2fznVp+j9vuIYCnt5Pg98iB1Ud9KFE0/Umb/DHj/X+AOYf0k5WIqiqIPeNz8PozRCvjvnhvEz1cTW/5e9kXOibnQnyCbbBGZ450c3TiI+fnEgj/dq6qFX4cgGo7AH1X58+AMlLY0eSAMAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEANO4u9/WYecdDwYGF6fa24lMDGDg7BQWnwRlmznNmQdj2zrF+sDY1k6fi1KgbHsnw+wEuJqHwjA1Nk5ChQj1f3sQ7PVuMLah07MABHtZG4xt4nStAsbWdyoUh7ENnGx8EOpvR8HYek5MC5t4IewD/ydfbmWEsO2cuE/D/GXk9DgNoTeiAOHHpY8Q5vjxIOzl50O4R8wYxtZxUl0AY1s67ZeCsbWcVpch1AvXw9hWTjlxSXA3FCsjxJnXIcRlXiXC3aN3DSZu6pQzDca2cIpkSIKHuawCQly+EsZ2dvoLN9PfqeF8IjwutsUh1DxqRfh9XgrCL91iMLaDU8QOhF9OdiPUNNyFmentNDUVKT3sQLi5WAURnj/sEOH2Fp6utJ1eHUKIXzuA8LtZKEINdxXCnBOWCPf4r4KxjZ20lsPYuk7H9ybCzeTLQqQZ5f0Itu2TRLjeynCEm8vPI9jb5yHiaNuh3C5IYjrw/2jdDGi6cnSqXI2IOwBy05xDSAMAAA==" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEANO4u9/WYecdDwYGL6fa24lMDGBg6xQWnwRlWzrNmQdjGzjF+sDYJk6fi1KgbCsnw+wEuPqHwjA1bk5ChTC2p9PfHhjbxWm9G8LMZwEwtq7TsjYYW9/pWgWMredUKA5jGznZ+CDEb0fB2NpOTAubeCHsA/8nX25lhPmF+3Qi3PzHaQi99u9ToWx3p33J8VC2ptNRUYR7ZrAg1IsZw9g6TqoLYGxDp/1SMLaW0+oyhL+E6xHqc+IQ4sXKMLaFE/M6hDkCggi21XqE+pxpMLapUyQDjO3gJKsAY9s5yVcixP/CzbRxajgP87uT0za4G1ydHrUiwnNeCkJvtxjCDRE7EHF9shvh5oa7MDNDnKamIuL35C6EO+cqwdhmTj/sEOHzFp6u1J1eHULE3bUDMDONncxCEeq5qxDsE5YwtqaT/ypE2GotR5jz45kaO4xt+yQRrqYyPAlufvl5hN+3w9O2pdO2Q7ldkERz4P/RuhmMMP9WrkakBwDRdtlSMAMAAA==" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEANO4u9/WYecdDwYGG6fa24lMDGBg7hQWnwRlOzjNmQdjOzrF+sDYvk6fi1KgbC8nw+wEKNvb6aEwQq9QIULv3x4Y281pvRuMreP0LADG1nJa1oYQj+iCsfWc3rMi1CRuOcICY++Y3MQLYR/4P/lyKyOEbebEfToRrvdxGkyvrpP9+1Qo285pX3I8lK3h5CgOU6PvJMOMcIOYMYyt6aS6AMY2cdovhRBfXQZjGzgJ1yPsyolDmFmsDGObOTGvg7GNnP7C1Vg6+SbC2IZOOdNgbBunSAYY295JVgHGNnWSr4SxnZz+ws30c2o4D/O7hdO2OESYP2pFuGFeCiJeusVgbFeniB0wtr/TyW6Emoa7MDMDnKamItyWugfhF0bFJHh4/rBDhM/beAT71SGEmmsHYGZqO5mFIsS5qxDqT1gi4t1/FSKctZYj1BzfizCHLysJzl5wAxGPB07B1Og7VYYjzCk/j4jT7fMQ4bz8ZW4XJDEd+H8lfAYjTE3lakT4AwAzqjIcPAMAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAEXSTSjDYRwH8Hk7LZTJQWlKwhhjqJW9+IpYGy7mpdlb48AcvERzsRQHlBBJWkpZWXFQXg7LcmE57EAO4oAiSoqL0qJsv+f3P316+j2///M8399GWlhrOLlrlkiMkB44kyX/XyssdlfCFmz6yS3oNZEb8DXiTtiEykFHwnV4kFGNAVnD5HrEFsha7DeRlXhuJxdhZ5ZcjJd5rnGkksvg6iaXYttKLkH28nR63OHflauZpLhrIL2ke5XjqZ976j/6xJkXPXbR5yeTalRYSuL6HDWfoXCLXI3TXD5DcJyshmzKJf7rsXHP0QJyDVL2yFWI2bin2cl9PGvkHnRLyEbk5ZPNkHs5l5jo2QxflO5uxaGNc3ycIbvgd5OB+RxyE7qOOceIyEIP3z311GG1jzP9DJE1GJOTFfjW8fu823n97Yx9E3aKd67t4HXpJO+90PB62y65AooAz8N5yCmcMcB5KW85C3WEalTwdvIdJ6LkRhyJmdch8Do0Fx+m8O9157qYK2+Q8/oDkAdjgUgDAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAJvFesDWYecdDwYGMyfuzYlMDGBg5BQWnwRl2zjNmQdjWzvF+sDYxk6fi1KgbGcnw+wEKNvU6aEwTI25k1BhElz8bw+M7eS03g3G1nJ6FgBjqzota4Ox1Z0qexHsc0wwto7T+yiE3iUxMLaKU9uEJl4I+8D/yZdbGWHu5D4N85ee0+M0hJn271PhbpPNi4eyNZx+8CfB2WwMMLauk5gxjK3mpLoA4Z79Ugj3ry5DiAvXJ8HtzYmDsTWdipURYci8DsbWdvoLV2Pk5JsIY+s75UyDsS2dIuHucXWSVYCxTZzkK2FsD6e/cDPNnBrOI+J0WxzCnEetMLaB07wURLx0iyHcFrEDxjZ0OtmNiMeGuzAzHZwa4XFq5TRpBsL9L2QRYfXDDhHmb+MR8fXqEIJ97UAiXI1ZKCI8uasQak5YIsz0X4UIW63lCDXH9ybC1fBlIezddBuRZtYdT4SzK8MRYVh+HuGX7fMQ/l3+MrcLkpgO/L8SPgOarnSdKlcjwhAAR0I/bEgDAAA=" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEAJvFesDWYecdDwYGEyfuzYlMDGBg7BQWnwRl6znNmQdj6zrF+sDYFk6fi1LgbMPsBCjb0emhMEyNoZNQYRLczL89MLaN03o3GFvb6VkAjK3itKwNwWbtR9jrxAhjqzrVxiDYi2MQ6n/2NfFC2Af+T77cyghhA/11GuYvdafHaTD1mk7271PhbuvNj4eyNZyEBZLg6qv/IfSKGcPElZ1UF8DYBk77pRDuWV0GY2s5CdcjzMmJg7HVnIqVEXqZ1yHC4S9cjY6TbyKCnTMNxrZyimRAhKGsAiJs5SthbBenv+sQ4g3nYe53dtoGN9/S6VErjG3kNC8FxjZ16hZDxHvEDkT4n+xGxHvDXZiZbk6NPQi9KrNgbDOnMBlEmPywQ8TR23iE+KtDCPa1AzAzNZ3MQhHilzcfYYGx/VfBxDWctJYjwvP43kQ4my8LocblLiKuZY4hzK8MR/ir/DyMbee0HZ7ODZ2Wv8ztgiSgA/+vhM+ApiUtp8rViPgCAPORFBM8AwAA" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAJvFesDWYecdDwYGWyfuzYlMDGBg5vTp7xEWGDvWJwkqbuH0uSgFyrZ2MsxOgLKtnB4KI9S8bUmCiytVJsHVr3eDsfWdngUg2MvaYGwjp+oJCPaZ/4lwNbUxMHEDp9A4hF733iZeCPvA/8mXWxkhbDsn7tMwvSZOj9MQZtq/T4WyjZ2MCuPh5pzmR6iR+5sIt0vMGCZu6KS6AOGv/VII8dVlSXC7hOsR7Jw4hJuLlWFscyfmdQi7/sLVmDr5JiLYOdNgbBenSAYY29ZJVgHGtneSh4etu9PfdQi3NZyHud/OaRvcfGenR60wtqXTvBREvHSLIeIuYgfCnSe7kcy8CzPT0aluE0Lvy1KEm6dIIeLlhx3C72/jYWxdp1eHYGw9p2sHEuFhaBaKEOeuQrBPWCL0+q9ChJvWcoRdx/ci4uuFx1EWGLvtSCJcfWU4wo/l5xH+2j4PESbLX+Z2QRLQgf9XwmdA05KZU+VqmBozJwCrbdgEMAMAAA==" />
    <add key="/intelcpu/0/temperature/7/values" value="H4sIAAAAAAAEAJvFesDWYecdDwYGayfuzYlMDGCg4xQWnwRlmzrNmZcEF4/1gbENnT4XpUDZFk6G2QlQtpHTQ2GYGlunty0wtoGTUiWMbeK03g3G1nZ6FgBjazkta4OxNZ3+TUSIe/5LhLNrYxBqXsDdqeGksqmJF8I+8F95bSsjhO3kxH0a4a/HaTD16k7271OhbD2nnUXxULaS0w1+hJldvxH2ihkjxFUXIMJkvxTCPavLEP4SrkeoyYlDsIuVEWHCvA4h/heuRt/JNxHBzpmWBA/bSAYY28ZJVgHBloeHrbnT33WIOGo4D3O/sdM2uPkuTo9aEWrmpSDM6RZD2BuxA+G2k90INzfchZlp4VS3CRGn7eVJ8PD8JgFjqzr9sEOE+Vt4fCk7vTqECKtrBxBxZBaKCGfuKoTeE5YIcf9VCL1ayxHp5PheRHzxZSHU3LqHUNN2JBHul8pwmLiuU/l5GNvMafs8RDgsf5nbBUlMB/7/r5vBCAtnP6S0DQDKUVzdSAMAAA==" />
    <add key="/intelcpu/0/temperature/8/values" value="H4sIAAAAAAAEAEXSTyjDYRgH8CEuCwc1JSJykzDGhtE3k8Ts4M8w234/4+DPBRFlW7IdSA5KkpYTRUaUfxdL1OTg5iAciKLk4IJoyn7P+/xOn56+7/t73ud9l+NDldVHt3UqlQ3qPSlW9f850eqQFXdjJUCW0NUgi8zHkEu4sN+puBlhA2XMSLCTrcgel0Vmu5ZcjGcLe81P1mFugWzA8Q/1VopJG9WLMCmx53emEqMORXK2fDFRN0F9KYn9H3v5X1XvPYrrYRpxKC7EbTJltPj+4rUarSwyuavkapykcX1zlPdP8XD/A3bODOeQyxEX5PyvneuN4lylGFgkO9Cu4nlmZJE7kSlma8NvkO29ov57sS/2t+PBR5YRcPFdz2p4rfWQ3IGLWbIF3jtJ5N27VG9AuujBCCmVXIZPI7kAb+Jd5eP1lH0doj0roGvhunqC5xbW86yaNnhW50/8BvI8kvhXUh/f4809239GmRKMt1G9BmNXfMaDAHv9ZXAm+phCkYh7SXlXJpinKaPHHxv4C0FIAwAA" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAOP1v2jrsPOOxwWGE06TfycxMQDBv//Hncw9LaVg7J1/IeJ/gexd3xPharZuPswCY4tcLuRlAIMD/0WapzOCWFeBZkocQaifKFcmCje/HCL+H8hOm5sMV1PuKiAMY1t/Qti7WikFrv6ZOsKdzd0JcDXOmxDigVc6OGFsHb9kuJpEV4SaySJH4O7v60TYlbgyBa5m+QQfPhg73wZhzvE1CH+pL+2E22W2JxGu5vrRmC5GaJisclgNZtoBwyRiA8LNAPn5lc+AAQAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAPuz4ICtw847HjMeTHKVskxmYgCCf/cnucpw93DC2J4r48Hi/4Hs8+uS4OzKjiS4+r6jh1hg7JsrEGpuHUGomSuJMH+DKEJNuXAiXJw9FqHepbyJlwEMDvxXvNfGCGLNBbpz7z6E+oR6hPopv9PgZupNj4Wzjz5EqL/MlQJn67Ai3FDwCWHO16wjcL8szUyEq7Hei3D/kouq7DC289FkuBrhTIQ5j3QT4OKzHiHELyOZeXg9QvzTW4Q5NwUR4lVH1gvA2G+lEG5OOIxQ06+HMLNpAkK8vhvhF6Y+hN5pDgi/OPoi7L28BuHmvecQ5pjfR5gz7zjCnMOtCDXznBFuCJVDmClwBxH+M31yuxihcbp7yiwwUw8Ypz/2J8DVAACj5SZflAIAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAAt+ecjWYecdjxkPJrnqWiUzMQDBv/uTXP9z9HDC2I/3x4PF/wPZUQeT4OyA9iS4+r5Dh1hgbM6VCDW7DyPUfPuLYJeoItS8Y06EiwclItRwKzfwMoDBgf8lIZ2MINZcoDstZiPUFzch1D8QSYeb+WxGLJydeQih3kwhBc7eJohwQ+dxhDnry47A/fIkNRGuxmwLInz6Xqiyw9gndyXD1cTFIcxh0k2Ai298iBBfnIkwU3E9QnyaeApc/KkAQrxm3noBGNtRFuFm6wMINW56CDNfLEOIM9Qj/NLeitDb44vwi7U/wv1bFyPc/P0swhybVwhzFp5AmHNoHkJNugnCDROkEGYWI4V/BWt2FyM0Tic8mQNm6gHjVP5YAlwNAIxFkwGUAgAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAHOJOGrrsPOOx4wHk1znCCczMQDBv/uTXBkMezhhbOn98WDx/0A2+8wkODuzIwmuftKrQyww9qouhBrh/Qg1DPwI83VFEGpUVRPh4k7JCPVHN9XyMoDBgf/SZ7sZQay5QHd6tSHUSxUj1K9XToebmdISC2d7HkaovymRAmfvtkS4wew0wpwXfkfgftnblQhXI7UD4X6Wx6rsMPbWFclwNXM8EeZ810mAiy99iBBfkokwU2Y9QnyFWApc/JkQQrxnznoBeBi6ItysjBS254QRZqYcQYj/zEb4Zfo0hN5nQQi/iDkh3P97AsLNK18izJn5EWEO90qEOe9mItRkaSLckOuIMHPpbET4C+3N6GKExim/+3wwUw8Yp5svJcDVAAA4OmgflAIAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAFu247itw847HjMeTHJdrZTMxAAE/+5Pcj0l08MJY8tfigeL/weyrUqS4Oz89Ulw9aK7D7HA2NbLEWpuXECoUfiCYJdrIdSkayfCxfONEGpmF1XzMoDBgf8+Zn2MINZcoDtzexDqRUIQ6tcppMPNXD8/Fs6uO4RQn/cL4Udpa4Qbnn9AmLPb5QjcL2rFiXA1k3ch9J79pMoOY0+akwxX42KLMOd8cAJcfO1DhPhGJ4SZ0tcQ4nPEUuDiDwUR4jVz1wvA2HJyCDdLP0OoCWJDmNl6GSEumYLwy8NShN7z+Qi/sKgi3C+xFOHmI48R5lxlOAo3J30ywhzRtQg1/aYIN0yUQpjZdxgR/mt80roYoXGasG0hmKkHjNOIfQlwNQCc/b0mlAIAAA==" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEALujfsrWYecdjxkPJrky/0liYgCCf/cnuU5w7uGEsSPWxIPF/wPZwsVJcLb7OoR6o8eHWGBsluUINdt2INTIcCTD2Y+EEWqmKiXCxf+HItSXMFfyMoDBgf/ObRMYQay5QHfyTkCoL0ZSP8cxHW5mzJRYOHvePoT6xicIN1zQQ7jh0VeEOfHuR+B+WTY1Ea5mzTaE3vf/Vdlh7O/dyXA1wbIIc+5VJ8DFt+9CiG92Rpj54CqSerEUuPgec4R4a/l6ARjbyhXhZrZ9CDVs+ggz3dZCxZdPdmWtSIGrWfskHs4+2oIwx74nGa7+gzLCL1tnI9xfeRFh13f2o/DwKZ2IMOfrQYSafTII97SbIcxceQgRFxn3krsYofGbz70EzNQDxm/j4QS4GgATe+mioAIAAA==" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEAAuffsbWYecdjxkPJrlO+Z3ExAAE/+5Pcn0q08MJY5dcjgeL/weyrxUmwdmx6xHqTfccYoGxzZch1PTuRqj5ypMMZwuYItQsVUmEi7+wRagXXFnGywAGB/5nnprECGLNBbozYh9C/eYwhHpJ+3SEvdmxcDbHEYT6aJYUOHupMMINF4QRbqt3OQL3S3BBIlzN4XUINZv51Nhh7KCpyXA1XrwI99yqToCL33+KEO8RR5ip8Bch3iqWAhd/JIgQL5m3XgDGdpNDuPnnE4Sak/oIM/+vQIi7JiD88qoVofd0NsIv7p4I9//qRLh52lGEOe+ZjsLNubcaYY7SYoSaY0oIN3RpIcwsPY4If6OJiV2M0DiNr1kGZuoB47RqawJcDQA9MIPvlAIAAA==" />
    <add key="/intelcpu/0/clock/7/values" value="H4sIAAAAAAAEAFtw75ytw847HjMeTHKd+CeJiQEI/t2f5Moo28MJY2tcigeL/weyTUuS4OzaQwj1HCsOscDYqmcRagQ3I9S8k02GsyezINTouSXCxd+aIdTrupfwMoDBgf/sRlMZQay5QHfyHkeov2mNUL89Mh1u5uPsWDj70BaE+qmvEW54Jo9wQzQ7Qlzd/QjcL+2liXA1YWsRamYIqbHD2A4rk+FqAsQR7gnLSYCLK9xAiG/hQZip8hch3iieAhd31kSIa7atF4CxxV0Qbrbaj1AzzwBh5rQVCPHLaQi/ZLUh9Kp1I/zipYNw/5b5CDdzXUaY4/kGYc7KOQhz7pxEqHFWRbiBXQFh5rZNiPCfYB7fxQiN03NvV4CZesA4Pbc+Aa4GAL7KTn+UAgAA" />
    <add key="/intelcpu/0/clock/8/values" value="H4sIAAAAAAAEAOP1v2jrsPOOx4wHk1wn/05iYgCCf/cnud7/2s0JY0dcjgeL/weyNWclwdkJhxDqVZsOscDYGmcRarSuINTs/Itg7/qeCFdTEpwIF3dMQKgRuVzIywAGB/6LNE9nBLHmAt0pcQShvi4Qof6AfTrczLzMWDj74W2EevmzyXB2jALCndwaCPE6oyNwv5iXI9yZNhehxlFNjR3G7piWDFdTI41wT0dHAlw89Q5C3JUDYab1J4T4aqUUuPgzdYS4c8J6ARg70RXhZrZnCDW9eggz+zoR4godCL/kNSL0fihG+MVEC+H+5esQbl7/GGGO2UuEOU/7EeYkI8WviyDCDbP1EWaa7UGE//WjMV2M0Dhd5bAazNQDxmnEhgS4GgDFZ4r7lAIAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAC2SbUhTYRiGtxhzU+fOmWsMdS0lmJrbYIz1YZLetiw1Z9gPi0Vby1ICrSxECCX8kVkaKGloEcRC/Mi+KFICJRQj8kcpCCVhmSMiSpapfZqd2/fXxc313Oc557waz8uMzP6pXcElK1p+HV4jWzmFFTKkV/glzq0VsCfIfEueDg/yAxInBOIQvHJE4lG1E8XjhyRe/JGAlHb6plkdfE/JHRYBURlkp0ZEnNsnsf2GiOQx5ha3iNQJ8m6XDv1/yN9qIjGwyH0ylbE4XUROKRWR5aPTu1OEfvykRiadoWV9XZv8P438VcE4TH/hVjxq9tKXfY7G0PZjEg8kWlFedlDiWoUa797Qf16SCPMY33fDByO86zmbfcKEqGTm+wssaP1E//zKDh9z6LR77NhUxbw934yj1+nfnjPD0cn8lDcNayPIB7oj8LOKzuYcAfWt5MqHBpyNZ6fxeBzq6/ndTIIOJVPMvVsFuFXsudbmQHqYuWGfAT1J/EfzkyaELMybvsej7iJ7ihqTkH2fefWEErJmcp53KUvVwE7lRhG5fez5qjBiWc3ZYbkNaQXcU+4T4Hdz9n2NBsoQuaxaQKONPeF7WjRdYP7oTBT8XeycNgsYfMv7E/lMj/JzdK6qtZirZL+rJRrOVPLjLxp09nGHV4M63Jmhr7RpUbGNjiekw2gvnzutEjF7mY6jVIvA6h27uRCDHSKdmUsx6LBztnA+Fq4nzNe91mJyxNsgX71X3Zk9Eja/CGcV3+UOv60K/AOIuEPNSAMAAA==" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAC2Se0hTYRjGN8tLiIR0QS0rDNJGLIkow6w9Xy0tKq0gDGZtmpZQSikIsSKtbCorsjIpRChBdGHSoHQFXjLdxQ1dI8QskZmNaRiBWYmYnWfnrx8Pv/c57/nOF5E+mKJqH0lbPbZc3J/LDpItPuMqN5ILdRLHt9pwpIH5lUQnzIdzJF6R9hkND89KLIuNFpkfzkg8nDiLzY/pV1x3QdtNTpq3IjyFHOWwI0atlfj0mAMJTuYzSQ4oPOS2GCfa58kKwygss9wn8pULxSfIFr0D0NLJ2OOA78+lCGkfWeeCSvNI/p8MuX5E9dBvy/bi2jH6t9LH0bn3nMSjJ+WiID9L4qEBC8Y+0TedmsR6J7/XkDUMzQbOtpR5EZ7A3Na8VNT46U+KxR1S6WwyLhE7S5jrdn1DXh398iIftjUy96WGi1Wh5OLf3/G3hM69lR4YasgXYj9Cv4adG9cFCYOB51b7YAa5I4HzLB2EOow9B/pDRPJP5hfrZcIUx39Ud3wcE/HM12qDxY0q9sy9mca+l8yr/FOQVZPj5voRVslOe5YHh1rYo3w2hIVlnFUeDBJbjnJPs94GnZqzNaZ3CJkg53XZYFSypz7YijsVzPubO6BrYufAjBUdX3h/yoUbBaV0au29+FHE/tf+LmxXkH/V9aCxhTvYE1x44aWviuxD4W46N8tc6HvO93Z77Ph6l07i7T7kBO6YtqkX+yMD/879Hk+2cvby0wHseMv8fL4V1VOaSnngXk1HmyQ0htqR2codbFfN+AeXfx1LSAMAAA==" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAOP1v2jrsPOOBwMQfHqrosYABS9+FvJCWAf+O8RMZ4SJv3QsKIKxJ72J6WKEqnkvuRquJmJDAhOMDQAK1X3EYAAAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAC2SXUhTYRjHtQtdmKHloCmUDEQnUVCxLkz+E5Misg8iEZq4Zd/gZBVJoEV0s4wKtrJoGV0IItYqu1IEtcx1vmpnna1wFtVwrRE2su8Iq/Pfe/Xjz+95zvO+58nfrlbbhqY3CzeS8P3euyDr35GWhFDV5tTZmqugvpf5ZOkzPNjaovNIcwS9V/bpPJf+isbnzTqvvT8Ny3X6DRMKHA/JL4Mi8qrJr8pkFNc5dHY/VlChMA/MS6jUyPHTCob+kIViFcPfOY8sP8XxXWTLoIQaB51cUULypzs/Sz9j8zb71ez/lNqjYdkE/bI5Fad20v+WjGAMB3XWhDdwHW7SuTAexNsYfW15FCsU3rflvQp7KWvLQ2HkVTCXi1LoTtE/YpGR3ESnqP4d1rcz73FFcaCHfmuJhjV9zH3+NIy5mdkWv8CvdjompwpPN7m/PYyOEva8aYjD4+G7NXTGsH+a+SKzhDpD5n0mP6DqM3Nj0xQGzPxHNYkwEuXMC3KmcPY8+3QYIqgdZH55JoIsLzl6R4ahiz13G1VsCbBPQTyM+YWsLQrFsHIb5+zySXDWsdZsEpGTID/SJFxYxT6tNSIunmM+2xmEs589w4USRl9zf8w/FLjO0LHNikgfy7xJWRDrKsm1pU/QF+AMwzsU3I3Ttx4S0LaBzlG/gOBtftd/UsDMpczunRDQktkx94iIjYV0vqRF+FezdtIkwzrC3LtUhPejvSs7s1efTAM6+q+No/EeZ0jeGsVfPp8zxUgDAAA=" />
    <add key="/lpc/nct6797d/voltage/0/values" value="H4sIAAAAAAAEAEXSbUhTURwG8BUERdIiyiKihvQiRSFp+cHoUdC0pkRptrChG+sFIYpCjVw2R1u7udZeGitm8+6aRlQrIsoiyaxIJ0RiBaGBFcteqAj8UjJs3ee6nU8//jyc89xzbkuGbnP+g5GS1mciGkTjdFViGWJuXFtCv9AGUF1AL3znwtKrtCvggreJPjyvHf2ldKS4GRGdSfbtow5MGGtkHxprROMvg+z2onrYK5lvQh3iNrrjyEl0D9Lvl9sxS2T+zXEBfj/nn19Z8XYRXdjixImwWq2SV89k9rIqef5lQsAqBzPfVnqQO8p90hP9Yzs5n1HpwqYheluaFYZCujN4Gms09PqZTmiq6YdbnVicZUz2qeukx+MXkFcz1f8y+nfR9b6LuClNdZaQNZ/Wn5fwOJMezAhi+BQtFIiwX6F/mtsw+ZGdX5dJ8Cn7/3+jMgvdEw1j9urU/e/ZS1eZgogrHdy9ftzZkTqr1kPnZPswpnRQr/VCr3QYCNvQlUMf2G9H9wfa/t2D8SK64pMNG4fYrU/bgKdWzrfcOwaHmX4SbYYjQnt+mFERY16lsiCg3GdprgApRC+InMGKffRzjRslafTo9nPovURf/+2Ffw5d3hXCX32qv1aX+q6+KD38J4T7ylmW2lZkfjUk7zb9IOcjiczAS9qU14ZH5Ualp4gb624J05T/6uzc3ck3ulvMTP6GEP4BT/b+0DwDAAA=" />
    <add key="/lpc/nct6797d/voltage/1/values" value="H4sIAAAAAAAEAOtWirBz2HnHQ5Wt0f6CxGFlBiAAsasW8vMzgMGB/8by0Uww8eW2hUUw9pbQ9Z2MUDVNL8Pgara4J8HZAFtSEa9gAAAA" />
    <add key="/lpc/nct6797d/voltage/2/values" value="H4sIAAAAAAAEAOtWirBz2HnHI1kgwuGCxGFlBiAAsasW8vMzgMGB/8by0Uww8eW2hUUw9pbQ9Z2MUDVNL8Pgara4J8HZAEtdt9FgAAAA" />
    <add key="/lpc/nct6797d/voltage/3/values" value="H4sIAAAAAAAEAOtWirBz2HnHo0Ms0uGCxGFlBiAAsasW8vMzgMGB/8by0Uww8ezGOTIwtoFIElj8/5UIh/0aSXA1vvUCgTD2ltD1nYxQc5pehsHVbHFHqAcA0dXza4QAAAA=" />
    <add key="/lpc/nct6797d/voltage/4/values" value="H4sIAAAAAAAEAOtWirBz2HnHI1+o2X7u0k5OBiAAsSfVJTGB2DH9TfYnfSBskPiN5SWiMHbiCX5+BjA48N/nRxRcTXbjHBkY20AEovfZhSb7/RoIc3zrBQJh7C2h6zsZoeY0vQyDq9nijlAPANUAYGSoAAAA" />
    <add key="/lpc/nct6797d/voltage/5/values" value="H4sIAAAAAAAEAOtWirBz2HnH48lSabsLEoeVGYAAxE48wc/PAAYH/vv8iGKCiS+3LSyCsbeEru9khKppehkGV7PFPQnOBgDT2J44YAAAAA==" />
    <add key="/lpc/nct6797d/voltage/6/values" value="H4sIAAAAAAAEAOtWirBz2HnHw21bsf0FicPKDEAAYiee4OdnAIMD/31+RDHBxJfbFhbB2FtC13cyQtU0vQyDq9ningRnAwB98M+FYAAAAA==" />
    <add key="/lpc/nct6797d/voltage/7/values" value="H4sIAAAAAAAEAOtWirBz2HnHI1kgwmHZyU0CDEAAYv9OSmACsW+dC3eofp/IBBN3WKfODmNzLkiEq5k6NQmu5poEgp14gp+fAQwO/Pf5EQUXl3A/kAhje0ckwc05cQqhd3s8hB3YG+6g8RJhl1gGQv3pcwj1e4IR7C2h6zsZofY2vQxDiLsj1AAAEN+LqvwAAAA=" />
    <add key="/lpc/nct6797d/voltage/8/values" value="" />
    <add key="/lpc/nct6797d/voltage/9/values" value="H4sIAAAAAAAEAOtWirBz2HnHQ92ww/6CxGFlBiAAsRNP8PMzgMGB/z4/ophg4sttC4tg7C2h6zsZoWqaXobB1WxxT4KzAZzdxypgAAAA" />
    <add key="/lpc/nct6797d/voltage/10/values" value="H4sIAAAAAAAEAOtWirBz2HnHo/Jlm335giQmBiBg0m63XykDYYPE4x0RbLnlCDWT6hDskz4INesiUuDiv5MSwOz0tDb76veJcHZbGEL931aEOXsvIsTnmR5hgbGvSSTB9Sae4OdnAIMD/31+RMHVq3cgzDF/kAgXX9vVyQljK8Qj1EgZINilyxD2Wicg+SsUIb52EUJ8zZPZMjD2cw2Emth6hJodJhD2h+Vt9nsfItR8cUWwzS5D3HlPpc3+cBNCvYD2URYYO+QpItymxyPCYdE8hDmqqQi9HjwI9qGZCDX9OYjw9I5AqDlxCmHmfQ+IGhBbLAPhl3YliHtA7C2h6zsZoeHf9DIMrmaLO8IuAPWKU1FYAgAA" />
    <add key="/lpc/nct6797d/voltage/11/values" value="H4sIAAAAAAAEAOtWirBz2HnHwyzOyl5GplSUAQhA7LawJCYQ2+Ohlf3fVgg7JsXafu9FCLshy8aec0EimJ333Np+6lSE+DUJBDvxBD8/Axgc+O/zI4oJZr7zbjV2GNvmMkR9NND8RBcEW1sBYc6rqZ2cMPbJ0CS4vWsXIdQYiCDcuV8jCW7X7XqEX9qWINT/f5QIF5+cgFDj24Awn1sLIR4ZgzDzbyiCvSkQoSZrIkL8OZIbYpHcsMMEwd77EOGe6xLr9WHsLaHrOxmh4db0MgyuZos7Qj0AebfXY7wBAAA=" />
    <add key="/lpc/nct6797d/voltage/12/values" value="H4sIAAAAAAAEAOtWirBz2HnH48PyNvvyBUlMDEBwT6XNniPuCAuMLbccIl75ss1+Uh1CzUkfCDs9rc1+XUQKnP07KQGupvp9IpzdFoZQ/7cVYc7eiwg254JEuJqpUxHi1yQQehNP8PMzgMGB/z4/ouBq1DsQaswfIOxtylJnh7G1FRBqFOIhbJDfpQwQ4qXLEPaybEOEw9pFCPUGIgj1+zUQ7Nv1CL1tSxDq/z9KhLMnJyDU+zYg2NxaCPWRMQj231CEmZsCEeysiQi9zzUQ4qJbEG7e+xCh5osrQs3R/OviMPZUPoSaX7EINd4RCPETpxDiXzeowcPz9DmEO/cEI9RvCV3fyQiNo6aXYXC9W9wR5gAArn1GjHwCAAA=" />
    <add key="/lpc/nct6797d/voltage/13/values" value="H4sIAAAAAAAEAOtWirBz2HnHY9ZMSfsLEoeVGYAAxE48wc/PAAYH/vv8iGKCiS+3LSyCsbeEru9khKppehkGV7PFPQnOBgDYWixaYAAAAA==" />
    <add key="/lpc/nct6797d/voltage/14/values" value="H4sIAAAAAAAEAOtWirBz2HnHo2nqYfsLEoeVGYAAxE48wc/PAAYH/vv8iGKCiS+3LSyCsbeEru9khKppehkGV7PFPQnOBgBhjdbSYAAAAA==" />
    <add key="/lpc/nct6797d/temperature/0/values" value="H4sIAAAAAAAEAEWSTyiDcRjHx03ERZKkpURcHNgwzXxnhg3b2My/tndRcpeDxZuiyQm9yUWzRA6mpFAWcfGnlFYuHFBLTi4OojVh3/f3nj7vp+/7/J7n+b2LpV6j6fixTaNxYDIcyNT8PrIdO8Vp1rTD10zfipJtegeWp8keXNmZMSDqHUn7OnwH/Glfi6l3Ke31mPcwr0dyjnXqEbujr0dWWFJrKgp9E+4LySZIl3l5/9+epeyfA2qmPMSMGfonSfUJF8/qQGOcmQZILfRGVGkFa31kE4qqmW/GxBZ9Ewx+sg1XbmYs2I3Qd6E6n96N0wqyCw8zzHRjfpPsRuqFPQ9ihfXlXnTK5B5kVzLfh/4hUTOp9uDAvpPchfElsg2vag/tGFZ7MOOoRswYe6a34MMivC7Oe9ThYjagcihIbkAoKu63N8FZ6rDKfcqNiKyTjSgbFb4tR5x1vsaarVBy6a34Gqa3wuYVe768Fndx6BPzVryxh04UjIl/+OZW7OqkR+xKCe4tZPy9nKU2zj1q5sDKjBM/tVWKqTwDAAA=" />
    <add key="/lpc/nct6797d/temperature/1/values" value="H4sIAAAAAAAEAOtWirBz2HnHg4HByql8QRITAxhYOa2UgbIbLJziHWHiFk5yyxHsSXUwNZZOJ30QetdFpMD1/k5KgKvXf7NeAMYOfs/PD2Ef+B91MQquXr0DYf40izZ3GLujBiZu5pTEoKYGY0+tWd/JCDVn4aEwuJot7gj1AA/3AcPkAAAA" />
    <add key="/lpc/nct6797d/temperature/2/values" value="H4sIAAAAAAAEAOtWirBz2HnHg4FBxumCxGFlBjCQcQp+z88PYR/4H3Uxigkmvty2sAjGnlqzvpMRqmbhoTC4mi3uSXA2AKoOk/ZgAAAA" />
    <add key="/lpc/nct6797d/temperature/3/values" value="H4sIAAAAAAAEAOtWirBz2HnHg4HhkWP5giQmBjB44rhSBsZ+4Vj74ggLjD2pDqHmpA9CTUqkHx+MzbkgEa5m6lSEmmsSCHbwe35+CPvA/6iLUXBx9Q6YmmeO5g8S4eynQQi9GsdKRWFsAxGEe/ZrINi36xHq25Yg2P8fwcx85Dg5ASHu24Bgc2sh3BAZg2D/DUWo2RSIEM+aiGA/R3JDbD2CvcMEoXfKL0EjGHtqzfpORmg4LDwUBlezxR2hHgAG6WV3pAEAAA==" />
    <add key="/lpc/nct6797d/temperature/4/values" value="H4sIAAAAAAAEAOtWirBz2HnHg4Fhh+MFicPKDGCwwzH4PT8/hH3gf9TFKCaY+HLbwiIYe2rN+k5GqJqFh8Lgara4J8HZADbOIk1gAAAA" />
    <add key="/lpc/nct6797d/temperature/5/values" value="H4sIAAAAAAAEAOtWirBz2HnHg4FBxemCxGFlBjBQcQp+z88PYR/4H3Uxigkm7mrr7QNjd6xLgoorO4U8TYSyFZ2mx8PEFZze8/yXg7Gn1qzvZISaufBQGFzNFneEegA7K9jMkAAAAA==" />
    <add key="/lpc/nct6797d/temperature/6/values" value="H4sIAAAAAAAEAOtWirBz2HnHg4GB4cAFicPKDBBwIPg9Pz+U+T/qYhQTTHy5bWERjD21Zn0nI1TNwkNhcDVb3JPgbABXGpC6YAAAAA==" />
    <add key="/lpc/nct6797d/fan/0/values" value="H4sIAAAAAAAEAOtWirBz2HnHgwEILkgcVmaAguD3/PwQ1oH/URejmGDiy20Li2DsCYvXdzJC1SybHQZXs8U9Cc4GAM5CmJtgAAAA" />
    <add key="/lpc/nct6797d/fan/1/values" value="H4sIAAAAAAAEAC3SXUhTYRgH8H2wNl20ESrLxMYgEoPywuqiMPN5otHHRa3GGi51VJhQVCAZmkXQmka5khFRiFlYGRmVYIFDyYpWEZqgkV7Yx0iLtpLN4zYPS/Z/36sfD//znP95OZcsjpLSFxPWRe5sPtXuVikWTttnNT/Ig/OeSVSxBX4zreD8e/DyciVfa4Q9TSYO7oS3GzO523EwbWN+kpLuyrRv6eaoPlKVdqE7Sh478q/KlCxfgMNTMgWG4eyuJGW0I19GCvb7MdddjtOoCTbrYmSLGAyK9BlIOYed6XlobBmv8iIz1CrThknsKVmn4tAezI+vlWjTiPjeDymqYnjQlqDVZlhvlchcATtOpii3CK4/oOLaTvjh5iRtrISfFGs4uE/0bFHzow7x7H0lF2XB0TVq7i+Ag41aHj8LX6mdJ89duC4uUeobOitcBm4V+39czORd5+ATPhXrC+GugJL3l8O+Y0tZFh1W5Kj46W5xz/4Mrrkq9oxp+afoYC/VsEt0yKqT6Xkx3PIpQYGvcP/pOYpuhXumtLx+BN2+WzQ8eB7ziV9R8jaIbv9myNsN576WaG8IeWvzb7ou7rP5TIQ62uCB3hitPARzTYysi+HEeJhe3oAbJsPkXwL3BWYp4YIPS1Ha4YC/LGTevoPjJgX3infdHp2hgml08FX/oZxqzOW/EXr/ETYOxanPBlv88+S787hJKf6rzpv29NxwVM8925BxHpml/8nm+448AwAA" />
    <add key="/lpc/nct6797d/fan/2/values" value="H4sIAAAAAAAEAC3SbUhTURwGcM0PWUl+qRH2ggSVWJREFGGEwdPu/5wZZC5Z4piOrJkRQdTohSxpshi9zBoiYYjKKmETIrBAM7IPWZiKJNEbqViE1CqCwDAbe8799OPPw7nP/Z8bWu3aWfTovQyeFvhbvfPSks/eOoV7K2h7vcCzi24ptLDqDt3VKWg8T59oVBgoph+HFeKugykPewV/vZUp17y1cDZRlbLzuIWGMuYnawWzAfpKiULvCO12KixoZf7NMY1IhPPP8xXGltHTMQuliezstNTzZK58pDw1//lLYV2Qmbi2sO0Tz5Ezgql9nG+sEOwYpU+5NKpAB5sF63PpdJ9Crsd0SwhyCuhD/XacjNIfahQKK2nfP8HAfrrnsAOxNnpz0ELBEvqjzUJfHv09mXlXR3fnONDQQV/N0JibYOdLfsENc/7YUcGeC/SfkGBRvnGm4EAFPThhYdZ0yFqpcL+Ebs8QHAnTw8m9fTEdvsU03KZDrd+Bh1vMTpY70DtOV/+w4/dus58Wha2j7NY5qdFfz3nmdo3gOdrfIQjG6ZvXLDinmA8VaTSZfb4OKLTdNh3CgjXV9KYhgWSZu04TPG2mx/MVIovpvoDGjJt+NqPgcNFNyft9/oK+O6TQbd61dKFG3ld22OBXsPk4v1hs4eUr2qY0ekppz7TG9fauy+nmv4reKmOf5Lc8sJiJrhX8B5S54hQ8AwAA" />
    <add key="/lpc/nct6797d/fan/3/values" value="H4sIAAAAAAAEAOtWirBz2HnHgwEILkgcVmaAguD3/PwQ1oH/URejmGDiy20Li2DsCYvXdzJC1SybHQZXs8U9Cc4GAM5CmJtgAAAA" />
    <add key="/lpc/nct6797d/fan/4/values" value="H4sIAAAAAAAEAOtWirBz2HnHgwEILkgcVmaAguD3/PwQ1oH/URejmGDiy20Li2DsCYvXdzJC1SybHQZXs8U9Cc4GAM5CmJtgAAAA" />
    <add key="/lpc/nct6797d/fan/5/values" value="H4sIAAAAAAAEAOtWirBz2HnHgwEILkgcVmaAguD3/PwQ1oH/URejmGDiy20Li2DsCYvXdzJC1SybHQZXs8U9Cc4GAM5CmJtgAAAA" />
    <add key="/lpc/nct6797d/fan/6/values" value="H4sIAAAAAAAEAOtWirBz2HnHgwEILkgcVmaAguD3/PwQ1oH/URejmGDiy20Li2DsCYvXdzJC1SybHQZXs8U9Cc4GAM5CmJtgAAAA" />
    <add key="/lpc/nct6797d/control/0/values" value="H4sIAAAAAAAEAOtWirBz2HnHIzSU1al8QRITAxB8+3rXcaUMhJ2acscx3hHC3rD+uqPccgh7wYIfjpPqIGw3NyGnkz4QtrLyZ8d1ESlgto3NE8ffSQlg9qOHDx2r3yeC2bt2vnRsC0uCs/+2QthNTa8c916EsC3M3ztyLoCov3H9u+PUqRDxN68/O16TgLC3bPniuEtMgJ8BDA78/7wyCize3MTmpN6RBHUDg5P5A4Q5T4Mg4idPfHC0uQxha2i8cEx0gbDfAs3XVoCw62q/OirEQ9hGRr8cpQwQZpYuQ6i3ToCZw+J0MhQWJt8c1y6CsAX4vzsaiEDY584yOu3XQITh7XoIe/q0Z45tSxB+//8I4uZlSzmdJkPNvw50v28DhM3C+tSRWwvhtsgYCHsh0My/UDckxD933BSIcE/WRAj744cXjs+hbhAReeMYC3XDnNm3HXeYwNz51HHvwyRoeL5y/OIKYcvJ/XM0uwxxW0nxY8fDTRDxjvb7jh01EHY80N6OdRA2G9CdIU8h6leveuQ4PR4R5ovmQdgMDB8cVVMRdnnwINx5aCaE7eP92nEqH4QdHfXJ8VcsQo13BIS9DZgeTpxC+H071C5bYDrUeAlxg67uXUexjCR4mjx9DhanTxz3BEPY+/fdc0w/ub6TEZquzpeGQdP/f8ct7hA1kpIPHQGR9kxxPAMAAA==" />
    <add key="/lpc/nct6797d/control/1/values" value="H4sIAAAAAAAEAOtWirBz2HnHo6eHxal8QRITAxDo6t51XCkDYesB2fGOEHZFxQ1HueUQdlbmT8dJdRC2m5uQ00kfCDs66pPjuogUMFtC8qHj76QEMLuj/b5j9ftEMFtT44VjWxhEvY/3a8e/rRD2vTtvHPdehLCXLX3ryLkAop6f/7vj1KkQcQvz947XJBBsY1sBfgYwOPC/qjkKLC4nx+ak3gFRY2PD4GT+AGJOJtDNT4Mg4gwMHxxtLkPYCfHPHRNdIOy3rz87aitA2CrKnx0V4iHshQt+OEoZQNgb1v93LF2GUG+dAGF//MDidDIUET5rF0HYRka/HA1EYOKMTvs1EOK36yHsc2efOrYtQbjt/yOIm/PyuJwmQ80Hud+3AeavJ47cWgi7ImMQ7L9QN3z68MJxUyCEvQDo/qyJEPaunS8dn0Pd4A0M/1ioG7i4bjnuMIGwS4ofO+59iAifL64QdljoX0ezy4lwNxxugog/evjQsaMG4ZeOdQjxkKcQ9atXPXKcHg8LqxeOi+Yh0oxqKoQtKvLG0YMHoebQTAi7uemV41Q+CDsKqP5XLEKNdwSE/QYYFydOQdgawDS2HWoXK+tTR42XEDfMmX3bUSwD4bbT55LgbtsTnARPqzEf1ncyQtPVLb8wsLgtMC1tcYeokQKmbQDK71VpPAMAAA==" />
    <add key="/lpc/nct6797d/control/2/values" value="H4sIAAAAAAAEAOtWirBz2HnHY/q0NKcLEoeVGYAAxDa2FeBnAIMD/6uao5hg4sttC4tg7JgP6zsZoWpu+YXB1WxxT4KzAXdfXMVgAAAA" />
    <add key="/lpc/nct6797d/control/3/values" value="H4sIAAAAAAAEAOtWirBz2HnHY/q0NKcLEoeVGYAAxDa2FeBnAIMD/6uao5hg4sttC4tg7JgP6zsZoWpu+YXB1WxxT4KzAXdfXMVgAAAA" />
    <add key="/lpc/nct6797d/control/4/values" value="H4sIAAAAAAAEAOtWirBz2HnHY/q0NKcLEoeVGYAAxDa2FeBnAIMD/6uao5hg4sttC4tg7JgP6zsZoWpu+YXB1WxxT4KzAXdfXMVgAAAA" />
    <add key="/lpc/nct6797d/control/5/values" value="H4sIAAAAAAAEAOtWirBz2HnHY/q0NKcLEoeVGYAAxDa2FeBnAIMD/6uao5hg4sttC4tg7JgP6zsZoWpu+YXB1WxxT4KzAXdfXMVgAAAA" />
    <add key="/lpc/nct6797d/control/6/values" value="H4sIAAAAAAAEAOtWirBz2HnHY/q0NKcLEoeVGYAAxDa2FeBnAIMD/6uao5hg4sttC4tg7JgP6zsZoWpu+YXB1WxxT4KzAXdfXMVgAAAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>